*{
    margin: 0;
    padding: 0;
}
html,body{
    background: linear-gradient(#28f7ee 0% ,#000000 100%);
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.wrap{
    width: 200px;
    margin: 150px auto;
    perspective: 800;
}
.wrap .cube{
    width: 200px;
    height: 200px;
    color: #ff92ff;
    font-size: 36px;                                  
    font-weight: 100;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateX(-50deg) rotateY(-50deg) rotateZ(0deg); 
    animation: move 10s ease-in-out infinite;
  
}
@keyframes move{
    0%{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) 
    }
    100%{
        transform: rotateX(720deg) rotateY(360deg) rotateZ(360deg) 
    }
}
.wrap .cube>div{
    width: 100%;
    height: 100%;
    line-height: 200px;
    text-align: center;
    border: 10px solid #66daff;
    border-radius: 20px;
    background-color: rgba(51,51,51,.3);
    position: absolute;
    box-sizing: border-box;
    transition: all 500ms ease-out;
}
.wrap .cube .out-top{
    transform: rotateX(90deg) translateZ(100px);
}
.wrap .cube .out-bottom{
    transform: rotateX(-90deg) translateZ(100px);
}
.wrap .cube .out-front{
    transform: translateZ(100px)
}
.wrap .cube .out-back{
    transform: translateZ(-100px)
}
.wrap .cube .out-left{
    transform: rotateY(90deg) translateZ(100px)
}
.wrap .cube .out-right{
    transform: rotateY(-90deg) translateZ(100px)
}
.cube>span{
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    display: block;
    border-radius: 30px;
    background-color: #ffe7f9;  
    border: 5px solid #424242; 
    box-sizing: border-box;
    position:absolute; 
    opacity: 0.9;
}
span.in-front{
    transform: translateZ(50px)
}
span.in-back{
    transform: translateZ(-50px)
}
span.in-left{
    transform: rotateY(90deg) translateZ(50px)
}
span.in-right{
    transform: rotateY(-90deg) translateZ(50px)
}
span.in-top{
    transform: rotateX(90deg) translateZ(50px);
}
span.in-bottom{
    transform: rotateX(-90deg) translateZ(50px);
}
span.dot{
    display: flex;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #bb9aff;
}
.cube>span.in-top{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cube>span.in-bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
span.in-back{
    display: flex;
    /* justify-content: space-around; */
}
span.in-back>.dot2{
    align-self: flex-end;
}
.cube>span.in-front{
    display: flex;
    justify-content: center;
}
span.in-front>.dot2{
    align-self: center;
}
span.in-front>.dot3{
    align-self: flex-end;
}
.cube>span.in-left{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
span.in-left>.dot{
    margin: 10px;
}
.cube>span.in-right{
    display: flex;
}
span.in-right>.dot1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
span.in-right>.dot2{
    display: flex;
    align-items: center;
}
.in-top>span.dot{
    width: 30px;
    height: 30px;
}
.wrap:hover .out-top{
    transform: rotateX(90deg) translateZ(200px);
}
.wrap:hover .out-left{
    transform: rotateY(90deg) translateZ(200px);
}
.wrap:hover .out-right{
    transform: rotateY(-90deg) translateZ(200px);
}
.wrap:hover .out-bottom{
    transform: rotateX(-90deg) translateZ(200px);
}
.wrap:hover .out-front{
    transform: translateZ(200px);
}
.wrap:hover .out-back{
    transform: translateZ(-200px);
}