*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.wrap ul{
    margin-top: 50px;
    text-align: center;
}
.wrap>ul li{
    display: inline-block;
    margin: 20px;
    width: 300px;
    height: 300px;
}
.wrap>ul li img{
    width: 100%;
    height: 100%;
}
.wrap>ul li button{
    display: inline-block;
    width: 90px;
    height: 29px;
    margin: 20px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.wrap ul li button.addcart{
    background-color: #ed145b;
}
.wrap ul li button.addfav{
    background-color: #ff4400;
}
.wrap ul li button.faved{
    background-color: #eee;
    color: #ff4400;
}
.rightnav{
    position: fixed;
    right: 0;
    top: 0;
    width: 42px;
    height: 100%;
    background-color: #444851;
}
.rightnav .rightbox{
    margin-top: 100px;
}
.rightbox li {
    position: relative;
    width: 100%;
}
.rightbox li a{
    width: 40px;
    min-height: 50px;
    display: block;
    color: #fff;
}
.fir a{
    background:url("./img/index.png") 0 0 no-repeat;
}
.fir-left-box{
    height: 185px;
    width: 270px;
    border: 1px solid #cecece;
    position: absolute;
    top: 5px;
    left: -282px;
    margin: 5px;
    background-color: #fff;
    display: none; 
}
.fir-left-box .top{
    height: 60%;
    width: 100%;
    margin: 10px 0;
    display: inline-block;
}
.fir-left-box .top .avatar{
    width: 80px;
    height: 80px;
    margin: 10px;
    display: inline-block;
}
.fir-left-box .top .avatar img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 50%;
}
.fir-left-box .info{
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
    text-align: start;
}
.fir-left-box .info div{
    padding: 5px 5px;
}
.fir-left-box .btns{
    text-align: center;
}
.fir-left-box .btns button{
    padding: 5px 20px;
    margin: 0 5px;
    border: 1px solid #cecece;
    background:linear-gradient(#fff 0% ,#eee 80% )
}
.sec .icon,
.fri .icon{
    display:block;
    width: 40px;
    height: 40px;
    background:url('./img/index.png') 0px -60px no-repeat;
}
.sec .text{
    display: block;
    width: 16px;
    height: 48px; 
    font-size: 14px;
    margin: 5px 0 0 12px;
}
.sec .cart-num,
.fri .fav-num{
    background-color: #ed145b;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 15px 0 0 10px;
    text-align: center;
}
.fri .fav-num{
    background-color: #ff4400;
    margin-top: 5px;
}
.thr a{
    background:url('./img/index.png') 0px -200px no-repeat;
}
.four a{
    background:url('./img/index.png') 0px -240px no-repeat;
}
.fri .icon{
    background:url('./img/index.png') 0px -278px no-repeat;
}
.six a{
    background:url('./img/index.png') 0px -314px no-repeat;
}

.sev a{
    background:url('./img/index.png') 0px -442px no-repeat;    
}
.rightbox li .leftBox{
    width:92px;
    height:38px;
    background-color:#444851;
    position:absolute;
    left:-121px;
    top:10px;
    display:none;
    color:#fff;
    line-height:38px;
    text-align:center;
    font-size:14px;
}
.sev .sev-left-box{
    width: 165px;
    height: 185px;
    position: absolute;
    top: 5px;
    left: -175px;
    background: url('./img/index-2.png') 0px 0px no-repeat;
    border:1px solid #cecece;
    display: none;
}